<strong>Olá, {{ student }}!</strong>
<p>Seja bem-vindo a <strong>Gym Point!</strong> Confira abaixo os dados da sua matrícula:</p>

<p>
  <strong>Plano:</strong> {{ plan }} <br />
  <strong>Preço:</strong> {{ price }} <br />
  <strong>Data de início:</strong> {{ start_date }} <br/>
  <strong>Data de término:</strong> {{ end_date }} <br />
  <br />
  <small>
    Qualquer dúvida, você pode entrar em contato conosco através do nosso site, clicando <a href=www.gympoint.com/contato>aqui</a>!
  </small>
</p>

